<section id="hero">
<div id="heroCarousel" class="carousel slide carousel-fade"
data-bs-interval="3000" data-bs-ride="carousel">

<div class="carousel-inner" role="listbox">

    <!--Slide 1-->
    <div class="carousel-item active" style="background-image: url('https://i.pinimg.com/564x/8d/ab/93/8dab93784b72fee5f88f8e4e760ba478.jpg');">
        <div class="carousel-container">
            <div class="container">
                <h2 class="animate__animated animate_fadeInDown" >Bienvenido</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil temporibus officiis quia quibusdam fugiat facilis atque quos, non, dolorum eveniet quisquam aliquam! Iusto nihil facilis ducimus eaque quaerat perferendis aperiam!</p>
                <button class="animate__animated animate_fadeInUp" mat-flat-button color="warn">Ver mas</button>
            </div>

        </div>

    </div>
     <!--Slide 1-->
     <div class="carousel-item" style="background-image: url('https://i.pinimg.com/564x/ea/37/b6/ea37b6c2d0fa47d5ede613bcd5ed2e6b.jpg');">
        <div class="carousel-container">
            <div class="container">
                <h2>Compra en linea</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil temporibus officiis quia quibusdam fugiat facilis atque quos, non, dolorum eveniet quisquam aliquam! Iusto nihil facilis ducimus eaque quaerat perferendis aperiam!</p>
                <button class="animate__animated animate_fadeInUp" mat-flat-button color="warn">Ver mas</button>
            </div>
        </div>
    </div>
      <!--Slide 1-->
      <div class="carousel-item" style="background-image: url('https://i.pinimg.com/564x/f7/8d/67/f78d675cbc18865a5c9990223d19e956.jpg');">
        <div class="carousel-container">
            <div class="container">
                <h2>Administra tu compra</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil temporibus officiis quia quibusdam fugiat facilis atque quos, non, dolorum eveniet quisquam aliquam! Iusto nihil facilis ducimus eaque quaerat perferendis aperiam!</p>
                <button class="animate__animated animate_fadeInUp" mat-flat-button color="warn">Ver mas</button>
            </div>
        </div>
    </div>

</div>

</div>
<!-- Botones -->
<a
href="#heroCarousel"
class="carousel-control-prev"
role="button"
data-bs-slide="prev"
>
<span class="carousel-control-prev-icon bi bi-chevron-left"></span>
</a>
<a
href="#heroCarousel"
class="carousel-control-next"
role="button"
data-bs-slide="next"
>
<span class="carousel-control-next-icon bi bi-chevron-right"></span>
</a>

</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem quam exercitationem alias! Odio dolore a dolores hic eum quibusdam aspernatur facilis dignissimos, sint deserunt, fugit optio excepturi iste necessitatibus.</p>
        </div>
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem quam exercitationem alias! Odio dolore a dolores hic eum quibusdam aspernatur facilis dignissimos, sint deserunt, fugit optio excepturi iste necessitatibus.</p>
        </div>

    </div>

</div>
